@import "//at.alicdn.com/t/c/font_3604872_86qbr135xi3.css";

.text-color-blue {
  color: $primary-color;
}

.text-color-red {
  color: $secondary-color;
}

.text-color-green {
  color: $success-color;
}
