// 颜色配置
$primary-color: #2f72f5; // 全局主色
$secondary-color: #f41e19; // 辅助色
$white-color: #ffffff; // 白色
$embellish1-color: #f8be00; // 点缀色1
$embellish2-color: #7956ec; // 点缀色2
$primary-color-hover: #e9eff3; // 高亮色
$success-color: #07ad40;
